.ubuntu {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}
header{
    height: 100vh;
    background-image: url(../Assets/Hero-bg.png);
    
}
.navbar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding:30px 0px;
}
.logo{
    font-size: 40px;
    font-weight: bold;
    color:rgb(59, 59, 158);
}
.btn-primary{
    background-color: rgb(59, 59, 158);
     color:white;
    padding:10px 20px;
    border:none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
}
.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.heading-div{
    max-width: 60vw;
}
.heading{
    font-size: 70px;
    font-weight: 700;;
}

/* action section */
.action-title{
    font-size: 35px;
    font-weight: 600;
}
.action-des{
    font-size: 18px;
    color:rgb(63, 62, 62);
}

/* Users section */
.productive-section{
    background-color: rgb(179, 179, 238);
    padding:70px 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.data-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-data{
    font-size:70px;
    font-weight: 600;
    color:rgb(60, 60, 110);
}

/* Card section */
.card-container{
    display: flex;
    text-align: left;
    padding:20px;
    gap:20px;
}
.user-div{
    background-color: white;
    border-radius: 10px;
    padding:10px;
}
.intro{
    display: flex;
    align-items: center;
    gap:10px;
}
.name{
    font-size: 15px;
    color: rgb(63, 62, 62);
}
.date{
    font-size: 12px;
    color:rgb(105, 103, 103);
}

.input-style{

}

/* footer section */
.footer-services a{
    text-decoration: none;
    font-size: 18px;
    color:rgb(63, 62, 62);

}

.btn-primary:hover{
    background-color:chocolate;
}

.user-div:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
